*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
}

.personalContact {
    width: 40%;
    height: 100vh;
    background-color: rgb(241, 232, 241);
    
}

.infoAboutExperience {
    width: 60%;
    height: 100vh;
    background-color: beige;
}

img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 8px solid whitesmoke;
}

.userPhone, .userEmail, .userLocation {
    display: flex;
    
}

.styleSvg {
    margin-left: 15px;
}