*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.aboutMe {
    width: 100%;
    max-width: 500px;
    padding-bottom: 60px;
    background-color: coral;
  
}

.containerBox{
    width: 60%;
    margin: 0 auto;
   
}

 img {
    width: 200px;
    height: 200px;
    margin-top: 60px;
    border-radius: 50%;
    border: 8px solid white; 
       
}

.aboutMyExperience {
    width: 60%;
    background-color: burlywood;
}

.styleSvg {
    margin-left: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    
}

.degree {

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;

}

.header {
    margin-top: 50px;
    margin-bottom: 20px;
    /* font-family: 'Bitter', serif; */
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    font-weight: 700;
    font-size: 32px;

}

.none {
   /* margin-left: 55px;  */
  text-align: left;
    
}

.partEducation {
  margin-bottom: 20px;
}

.nameUniversity {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 2px;
    font-size: 22px;
}

.periodStudy {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: italic;
}